@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #040707;
}

/* HEADING ANG LOGO */

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #040707;
}

#logo {
    float: left; 
    font-size: 300%;
    margin-left: 30px;
    color: #F6F6F6;
}

/* NAVIGATION LINKS */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #F6F6F6;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* MAIN HEADER */

#main-header {
    height: 600px;
    width: 100%;  
    overflow: hidden; 
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-leon-ardho-1552249.jpeg);
    background-position: bottom;
    position: absolute;
    
/* ZOOM EFFECT (loading page) */
    
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: both; 
}
    @keyframes main-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
    }

#main-cover-text {
    font-size: 120%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 400px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255, 56, 117, .5);
    bottom: 80px;
    right: 30px;    
    position: absolute;
} 

#main-cover-text, #main-cover-text h2 {
    color: #F6F6F6;
}

/* INTRO SECTION */

#home-intro-section, #about-intro-section {
    height: 600px;
}

#home-intro {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 56, 117, .6);
    text-align: center;
    line-height: 25px;
    font-size: larger;
}

#intro-heading {
    text-align: center;
    margin: 30px;
    font-size: 280%;
    color: #252525;
}

hr {
    width: 100%;
    margin: 10px 0;
}

.contact-button {
    width: 120px;
    margin-top: 20px;
    border-radius: 1px;
    border: 1px solid #040707;
    padding: 15px 32px 15px 32px; 
    background-color: rgba(255, 56, 117, .6);
    display: inline-block;
}

.contact-button a {
    color: #040707;
    text-align: center;
    font-size: 100%;
    text-decoration: none;
}

.contact-button:hover {
    background-color: rgb(255, 56, 117);
    color:#040707;
}

/* ABOUT SECTION (Styling taken from Love Running template) */

#left-about-container {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: rgba(255, 56, 117, .5);
}
    
#right-about-container {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: aqua;
}
    
#center-about-container {
    width: 33%;
    margin: 0 auto;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
        
.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
        
.right-about-heading h2 {
    text-align: right;
}
        
.right-about-heading p {
    text-align: right;
}
        
#circle-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
        
#circle-cover-bg {
    background: url("../images/kelly-sikkema-IZOAOjvwhaM-unsplash.jpeg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
} 

/* SESSION SECTION */

#sessions {
    /*background-image: url(../images/mr-lee-f4RBYsY2hxA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#sessions div {
    color: white;
  /*  background-color: rgba(0, 0, 0, .6); */
    width: 30%;
    height: 300px;
    float: left;
    padding: 40px 0 0 10px;
    text-align: center;
    border: 20px solid white;
    box-sizing: border-box; 
}

#sessions h2 {
    color: #fafafa;
}

#sessions-pt {
    background-image: url("../images/sven-mieke-Lx_GDv7VA9M-unsplash.jpg");
    height: 300px;
}

/* FOOTER */

footer {
    height: 150px;
    background-color: #040707;
}

footer div {
    background-color: #040707;
}

.text-uppercase {
    text-transform: uppercase;
} 

footer p {
    text-align: center;
    padding-bottom: 50px;
    color: #F6F6F6;
}

.social-media-links {
    text-align: center;
}
.social-media-links > li {
    display: inline;
}

.social-media-links i {
    font-size: 300%;
  /*  margin: 1%; */
    padding: 2%;
    color: #fff;
}

/* FORM SECTION (Styling taken from Love Running template) */

.form-section {
    clear: left; 
    background: url(../images/pexels-leon-ardho-1552249.jpeg);
    background-size: cover;
    background-position: bottom;
    height: 900px;
}

.contact-us-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(255, 56, 117, .5);
    max-width: 400px;
    position: fixed;
    left: 10%;
    padding: 40px;
    box-sizing: border-box;
    font-size: 110%;
}

.contact-us-form h2 {
    color: #F6F6F6;
    margin-bottom: 20px;
}

.form-text-input {
    color: #040707;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #F6F6F6;
}

#textarea {
    width: 100%;
    margin-top: 5px;
}

.form-text-input:hover, #textarea:hover {
    background-color: #f16c6b;
}

#submit-button {
    margin-top: 20px;
    border-radius: 1px;
    border: 1px solid #F6F6F6;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: transparent;
    color: #F6F6F6;
    display: block;
}
#submit-button:hover {
    background-color: #f16c6b;
    color:#040707;
}

.form-section > div {
    /*margin-top: 50px; */
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
.intro-section {
        width: 70%;
        height: 1200px;
        margin: 0 auto;
}

#welcome {
        padding: 30px 0;
        margin: 0;
}

#left-about-container, #right-about-container {
        width: 100%;
        float: left;
        padding: 0;
    }
 
#center-about-container {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
} 

#sessions > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
}

hr {
        display: none;
}

}

/* for screens sizes from 950px wide or less */

@media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #main-cover-text {
        /*left: 0px; */
    display: flex;
    justify-content: center;
    }
}

/*for screens sizes from 600px wide or less) */

@media screen and (max-width: 600px) {
    
    #main-cover-text {
    left: 0px; 
    display: flex;
    justify-content: center;
}
    
}