@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

:root {
    --main-font-family: Roboto, sans-serif;
    --main-bg-color: rgba(255, 56, 117, .5);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: var(--main-font-family);
    font-weight: 300;
    color: #040707;
}

/* HEADING ANG LOGO */

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #040707;
}

#logo {
    float: left; 
    font-size: 300%;
    margin-left: 30px;
    color: #F6F6F6;
}

/* NAVIGATION LINKS */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #F6F6F6;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* MAIN HEADER */

#main-header {
    height: 600px;
    width: 100%;  
    overflow: hidden; 
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-leon-ardho-1552249.jpeg");
    background-position: bottom;
    position: absolute;
    
/* ZOOM EFFECT (loading page) */
    
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: both; 
}
    @keyframes main-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
    }

#main-cover-text {
    font-size: 120%;
    font-family: var(--main-font-family);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 400px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: var(--main-bg-color);
    bottom: 100px;
    right: 50px; 
    position: absolute;
} 

#main-cover-text, #main-cover-text h2 {
    color: #F6F6F6;
}

/* INTRO SECTION */

#home-intro-section, #about-intro-section {
    height: 600px;
}

#home-intro {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    text-align: center;
    line-height: 25px;
    font-size: larger;
}

#intro-heading {
    text-align: center;
    margin: 30px;
    font-size: 280%;
    color: #252525;
}

hr {
    width: 100%;
    margin: 10px 0;
}

.contact-button {
    background-color: var(--main-bg-color);
    border: 1px solid #040707;
    color: #F6F6F6;
    width: 120px;
    margin-top: 20px;
    border-radius: 1px;
    padding: 15px 32px 15px 32px; 
    display: inline-block;
}

a {
    color: #040707;
    text-align: center;
    font-size: 100%;
    text-decoration: none;
}

.contact-button:hover {
    background-color: rgb(255, 56, 117);
    color: #F6F6F6;
    border: 1px solid #F6F6F6;
}

/* ABOUT SECTION (Styling taken from Love Running template) */

#left-about-container {
    padding-top: 30px;
    width: 25%;
    float: left;
    background-color: var(--main-bg-color);  
}
    
#right-about-container {
    padding-top: 30px;
    width: 25%;
    float: right;
    background-color: var(--main-bg-color);
}

#right-about-container a {
    float: right;
}
    
#center-about-container {
    padding-bottom: 30px;
    width: 50%;
    margin: 0 auto;
    display: inline;
}

.left-about-heading {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
        
.right-about-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
        
.right-about-heading h2 {
    text-align: right;
}
        
.right-about-heading p {
    text-align: right;
    margin-left: 5px;
}

.left-about-heading p {
    margin-right: 5px;
}
        
#about-us-container {
    width: 600px;
    height: 300px;
    padding: 1px;
    border-style: solid;
    border-color: #ccc;
    border-width: 5px;
    margin: 0 auto;
}
        
#about-us-cover-bg {
    background: url("../images/lee-chinyama-Y8OC0MAWQ8Y-unsplash.jpg");
    height: 100%;
    background-position: top;
} 
/* SESSIONS */

#sessions {
    background-image: url("../images/scott-webb-xwMlVSqP20U-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
  /*  display: flex;
    justify-content: center; */
}

#sessions div {
    float: left;
    background-color: rgba(0, 0, 0, .3); 
    color: #F6F6F6;
    width: 33%;
    height: 300px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 5px solid white;
    box-sizing: border-box;
   /* margin: 0 auto; */   
}

#sessions h2 {
    color: #F6F6F6;
}


/* FOOTER */

footer {
    height: 150px;
    background-color: #040707;
    width: 100%;
    margin: 0 auto;
}

footer div {
    background-color: #040707;
}

.text-uppercase {
    text-transform: uppercase;
} 

footer p {
    text-align: center;
    padding-bottom: 50px;
    color: #F6F6F6;
}

.social-media-links {
    text-align: center;
}
.social-media-links > li {
    display: inline;
}

.social-media-links i {
    font-size: 300%;
    padding: 3%;
    color: #fff;
}

/* FORM SECTION (Styling taken from Love Running template) */

.form-section {
    clear: left; 
    background: url(../images/pexels-leon-ardho-1552249.jpeg);
    background-size: cover;
    background-position: bottom;
    height: 900px;
}

.contact-us-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: var(--main-bg-color);
    width: 600px;
    position: fixed;
    left: 10%;
    padding: 25px;
    box-sizing: border-box;
    font-size: 110%;
}

.contact-us-form h2 {
    color: #F6F6F6;
    margin-bottom: 20px;
}

.form-text-input {
    color: #040707;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #F6F6F6;
}

#textarea {
    width: 100%;
    margin-top: 5px;
}

.form-text-input:hover, #textarea:hover {
    background-color: #f16c6b;
}

#submit-button {
    margin-top: 20px;
    border-radius: 1px;
    border: 1px solid #F6F6F6;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: transparent;
    color: #F6F6F6;
    display: block;
}
#submit-button:hover {
    background-color: #f16c6b;
    color:#040707;
}


/* MEDIA QUERIES */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
.intro-section {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
}

#intro-heading {
    padding: 30px 0;
    margin: 0;
}

#home-intro {
    width: 100%;
    font-size: 100%;
}

#about-intro-section {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
}

#left-about-container, #right-about-container  {
    width: 100%;
    float: left;
    padding: 10px;
    border: 2px solid #F6F6F6;
    margin-top: 5px;
    }

.left-about-heading, .right-about-heading {
    width: 100%;
    text-align: center;
}

.left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
}

.left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 0 20px;
}
 
#center-about-container {
    clear: both;
    width: 100%;
    float: left;
    padding: 20px;
} 

#sessions div {
    width: 100%;
    clear: both;
    height: 210px;
    padding: 0;
    margin: 0;
    text-align: center; 
}

}

/* for screens sizes from 950px wide or less */

@media screen and (max-width: 950px) {
    
#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    }

#main-cover-text {
    left: 0px;
    }

#about-intro-section {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    }

.contact-us-form {
    margin: 220px 10% 100px 0;
    max-width: 500px;
    position: fixed;
    padding: 25px;
    box-sizing: border-box;
    font-size: 110%;
    }
}

/*for screens sizes from 600px wide or less) */

@media screen and (max-width: 600px) {
#main-cover-text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    }

.contact-us-form {
    margin: 250px 10% 0 0;
    max-width: 300px;
    position: absolute;
    padding: 25px;
    box-sizing: border-box;
    font-size: 110%;
    }
    
#logo {
    font-size: 250%;
    }

#intro-heading {
    text-align: center;
    font-size: 250%;
    }

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    }
          
}