@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* HEADING ANG LOGO */

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #F6F6F6;
}

#logo {
    float: left; 
    font-size: 300%;
    margin-left: 30px;
}

/* NAVIGATION LINKS */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #F6F6F6;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* MAIN HEADER */

#main-header {
    height: 600px;
    width: 100%;  
    overflow: hidden; 
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-leon-ardho-1552249.jpeg);
    background-position: bottom;
    position: absolute;
    
/* ZOOM EFFECT (loading page) */
    
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: both; 
}
    @keyframes main-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
    }

#cover-text {
    font-size: 120%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 400px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(255, 56, 117, .5);

    bottom: 80px;
    right: 30px;    

    position: absolute;
} 

#cover-text, #cover-text h2 {
    color: #F6F6F6;
}

/* INTRO SECTION */

#intro-section {
    height: 600px;
}

#left-intro-container {
    padding-top: 30px;
    width: 50%;
    float: left;
    margin-bottom: 50px;
    background-color: blueviolet;
}
/*
.left-intro-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
} */

#right-intro-container {
    padding-top: 30px;
    width: 50%;
    float: right;
    margin-bottom: 50px;
    background-color: aqua;
}

hr {
    border-top: 1px solid #000;
    width: 100%;
    margin: 10px 0;
}

#intro-heading {
    text-align: center;
    margin: 30px;
    font-size: 280%;
    color: #252525;
}

/* SESSION SECTION */

#sessions {
    background-image: url(../images/mr-lee-f4RBYsY2hxA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#sessions div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 33%;
    height: 300px;
    float: left;
    padding: 40px 0 0 10px;
    text-align: center;
    border: 10px solid white;
    box-sizing: border-box;
}

#sessions h2 {
    color: #fafafa;
}

/* FOOTER */

footer {
    height: 150px;
    background-color: #000;
}

.text-uppercase {
    text-transform: uppercase;
} 

footer p {
    text-align: center;
    padding-bottom: 50px;
}

.social-media-links {
    text-align: center;
}
.social-media-links > li {
    display: inline;
}

.social-media-links i {
    font-size: 300%;
    margin: 1%;
    padding: 2%;
    color: #fff;
}